@charset "UTF-8";
body {
    text-align: center;
    margin: 5%;
    margin-top: 5%;
    background-color: rgb(25, 191, 197);
}

#diologSection {
    padding-top: 200px;
    max-width: 400px;
    min-width: 20%;
    text-align: left;
}

#form1 {
    padding-bottom: 10px;
}

#allDetails {
    display: none;
}

#intro {
    display: block;
    tab-size: 4ch;
}

#solution {
    display: none;
}