body {
    background-color: greenyellow;
    margin: 5%;
    font-size: 150%;
}

footer {
    text-align: center;
}

header {
    text-align: center;
}

footer ul {
    list-style-type: none;
}

footer a {
    color: rgb(2, 17, 17);
}

fieldset {
    border: rgb(4, 41, 110) 3px solid;
}

legend {
    color: rgb(27, 14, 85);
}

input {
    color: rgb(94, 24, 100);
}

.blueBackground {
    background-color: aqua;
}

.greenBackground {
    background-color: green;
}

.redBackground {
    background-color: rgb(194, 52, 59);
}

.whiteBackground {
    background-color: rgb(229, 231, 229);
}

.pinkBackground {
    background-color: rgb(201, 11, 169);
}

.brownBackground {
    background-color: rgb(151, 87, 26);
}