button{
    background-color: blue;
    border: 2px solid black;
    color: greenyellow;
    text-align: center;
    font-size: 16px;
    
}
body{
    background-color: #842EC3;
}
h1 .bob{
    text-align: center;
    font-size: 150%;
    
}
h1#number1
{
    color:gold;
}
header{
    background-color: rgb(175, 132, 214);
    text-align: center;
    font-weight:bold;
}
#byline
{
    font-size: 50%
}
main{
    background-color: cornflowerblue;
}
footer{
    background-color: darkcyan;
    text-align: center;
}
img#list-button-utah
{
    width: 100px;
    float: right;
}
figure{
    
}