a {
    color: gold;
}

body {
    font-size: 133%;
    font-family: sans-serif;
    margin: 4%;
}

footer {
    background-color: rgb(66, 102, 5);
    text-align: center;
}

header {
    text-align: center;
    background-color: lawngreen
}

html {
    background-color: forestgreen
}

main {
    background-color: darkgreen;
    padding: 3%;
}

nav ul {
    list-style-type: none;
}