   body {
       background-color: burlywood;
   }
   
   footer {
       background-color: cyan;
       text-align: center;
       font-size: 75%;
       margin: 30px;
   }
   
   header {
       text-align: center;
       background-color: aqua;
       font-size: 150%;
       color: darkgoldenrod;
       margin: 30px;
   }
   
   main {
       background-color: pink;
       text-align: center;
       padding: 50px;
       margin: 30px;
   }
   
   main ul {
       list-style: none
   }
   
   main a {
       color: green;
   }
   
   main a:hover {
       color: red;
   }