a {
    color: rgb(20, 3, 180);
}

aside {
    float: right;
    background-color: rgb(23, 207, 152);
    max-width: 15ch;
    border: 3px solid;
    border-color: crimson;
    font-size: 60%;
    padding: 1ch;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 133%;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 2%;
    margin-top: 2%;
    background-color: rgba(44, 236, 27, 0.918);
    tab-size: 20px;
    color: rgb(8, 5, 0);
}

main#longer {
    height: 60ch;
}

.byline {
    font-style: italic;
    font-size: 65%;
}

figcaption {
    font-size: 70%;
    text-align: center;
}

footer {
    background-color: rgba(233, 38, 38, 0.822);
    text-align: center;
    border-radius: 15px;
}

footer ul {
    list-style-type: none;
}

#figcent {
    text-align: center;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

h1,
h2,
h3 {
    text-align: center;
}

.center {
    clear: both;
    text-align: center;
}

#full {
    min-width: 100ch;
}

header {
    text-align: center;
    background-color: rgba(150, 110, 224, 0.973);
    border-radius: 15px;
}

header p {
    font-weight: bold;
    color: rgb(62, 68, 2);
}

img#left {
    float: left;
}

main {
    background-color: rgb(39, 146, 218);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 15px;
    border-radius: 15px;
}

nav {
    border: 1px rgb(134, 14, 14) solid;
    background: rgb(218, 236, 114);
    border-radius: 15px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 8px;
    margin: -1px 0px 0px 0px;
}

nav li {
    display: inline;
    padding: 8px;
}

.tab {
    text-indent: 40px;
}

ol li {
    padding-block-end: 30px;
}

#appearanceAction {
    color: darkblue;
    background-color: rgb(27, 205, 236);
    border: 3px solid rgb(193, 92, 243);
    border-radius: 3px;
}

#appearanceAction2 {
    color: rgb(150, 150, 221);
    background-color: rgb(1, 44, 7);
    border: 3px solid rgb(121, 102, 20);
    border-radius: 3px;
}

#right {
    float: right;
}