a{
    color: aliceblue;
}
aside{
    float: right;
    background-color: darkviolet;
    max-width: 15ch;
    border: 3px solid;
    
    border-color: crimson;
    font-size: 60%;
    padding: 1ch;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 133%;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 2%;
    margin-top: 2%;
    background-color: rgba(1, 26, 13, 0.918);
    tab-size: 20px ;
    color: antiquewhite;
    
    
}
main#longer{
    height: 60ch;
}
.byline{
    font-style: italic;
    font-size: 65%;
    
}
figcaption{
    font-size: 70%;
    text-align: center;
    
}
    

footer{
    background-color: darkslateblue;
    text-align: center;
    border-radius: 15px;
  
}
footer ul{
    list-style-type: none;
}

#figcent{
    text-align: center;
}

.floatleft{
    float: left;
}
.floatright{
    float: right;
}
h1,
h2,
h3{
    justify-content: stretch;
    text-align: center;
   
}
#full{
    min-width: 100ch;
}

header{
    text-align: center;
    background-color: rgba(35, 16, 158, 0.774);
    border-radius: 15px;
    
}
header p{
    font-weight: bold;
    color: rgb(13, 136, 19);
}
img#left{
    
    float: left;
}

main{
    background-color: rgb(84, 28, 138);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 15px;
    border-radius: 15px;
}
nav{
    border: 1px lightblue solid;
    background: rgb(63, 63, 150);
    border-radius: 15px;
    

}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 8px;
    margin: -1px 0px 0px 0px;
}
nav li{
    display: inline;
    padding: 8px;
}
.tab{
    text-indent: 40px;
}
ol li{
    padding-block-end: 30px;
}
